/* Home Page Header CSS */
#home-page-wrapper {
    display: grid;
    grid-template-rows: auto auto;
}


#home-page-header {
    position: relative;
    display: flex;
    overflow: hidden;
}

#home-slideshow {
    display: flex;
}

.slideshow-img {
    width: 50%;
    height: auto;
    transition: opacity 0.75s ease-in-out;
}

/*
#home-image-text-div {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 12px;
    align-items: center;
    position: absolute;
    top: 40%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #01345B;
    border-radius: 12px;
    padding: 12px;
}
*/

#home-image-text-div {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: black;
    align-items: center;
    height: auto;
    width: auto;
    padding: 12px 16px;
    column-gap: 20px;
    border-radius: 12px;
    border: 2px solid white;
}

#home-image-header {
    color: white;
    font-weight: 500;
    font-size: calc(10px + 2.5vw);
    flex-shrink: 1;
    white-space: nowrap;
    font-family: Overpass;
}

.home-header-text {
    display: flex;
    align-items: center;
}


#home-image-logo {
    width: calc(60px + 4vw);
    height: auto;
    flex-shrink: 1;
}

/* Home Page Body CSS */
#home-page-body {
    background-color: #5e5e5e;
    padding: 20px;
}

.home-page-body-text {
    color: white;
    font-size: 24px;
}


#home-image-header-line-break {
    display: none;
}


@media (max-width: 800px) {

    #home-image-text-div {
        column-gap: 4px;
        padding: 8px 14px;
    }

    #home-image-header {
        font-size: calc(10px + 3.8vw);
        text-align: center;
    }

    #home-image-header-line-break {
        display: block;
    }
}

/*
@media (max-width: 600px) {
    #home-image-logo {
        width: 96px;
        height: 96px;
    }
}

@media (max-width: 1100px) {
    #home-image-header {
        font-size: 3.15vw;
    }
    
    #home-image-logo {
        width: 9.5vw;
    }

    #home-image-text-div {
        width: 66%;
    }
}

@media (max-width: 950px) {
    #home-image-header {
        font-size: 3.2vw;
    }
    
    #home-image-logo {
        width: 9.5vw;
    }

    #home-image-text-div {
        width: 68%;
    }
}

@media (max-width: 800px) {
    #home-image-container {
        grid-template-columns: 100%;
    }

    #home-image-bathroom {
        display: none;
    }

    #home-image-header {
        font-size: 3.4vw;
    }
    
    #home-image-logo {
        width: 9.5vw;
    }

    #home-image-text-div {
        width: 74%;
    }

    #home-page-body-text {
        font-size: 22px;
    }
}


@media (max-width: 680px) {
    #home-image-text-div {
        width: 82%;
    }
    
    #home-image-logo {
        width: 10.5vw;
    }
    
    #home-image-header {
        font-size: 3.8vw;
    }
}
*/


@media (max-width: 850px) {

    .slideshow-img {
        width: 100%;
    }

}