#image-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 100%;
    column-gap: 20px;
    row-gap: 10px;
    padding: 10px 20px 20px 20px;
}

.image-main {
    max-width: 100%;
    border-radius: 6px;
    border: 3px solid #3500D3;
}

.main-images {
    display: grid;
    position: relative;
    text-align: center;
    color: black;
    align-items: center;
}

.main-image-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    width: auto;
    max-width: 800px;
    font-weight: 700;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    border: 2px solid #3500D3;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    line-height: 82px;
    height: 82px;
    padding: 0 10px;
}

@media screen and (max-width: 1100px) {
    #image-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 680px) {
    .main-image-text {
        font-size: 36px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 480px) {
    #image-container {
        padding: 10px 4% 20px 4%;
    }
}

@media screen and (max-width: 400px) {
    .main-image-text {
        font-size: 9vw;
        height: calc(20px + 10vw);
        line-height: calc(20px + 10vw);
        padding: 0 8px;
    }
}