* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#slideshows-div {
    padding: 5px 20px;
}

#slideshow-container {
    margin: 20px 0;
    overflow: hidden;
    border: 4px solid #3500D3;
    border-radius: 15px;
}

.slideshow {
    width: 100%;
    position: relative;
}

.slideshow-imgs-div {
    display: flex;
}

.slideshow-imgs-div > img {
    width: 50%;
    height: auto;
    flex-shrink: 0;
}

.vertical-image {
    width: 25%!important;
    height: auto!important;
}

#image-border {
    position: absolute;
    left: calc(50% - 3px);
    height: 100%;
    width: 4px;
    background-color: #3500D3;
    z-index: 10;
}
 

/* SLIDE SHOW BUTTONS */
.slideshow-buttons {
    display: grid;
    position: absolute;
    align-self: center;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    transform: translateY(-50%);
    z-index: 10;
    padding: 2.5%;
    width: auto;
    cursor: pointer;
    color: #3500D3;
    font-size: 80px;
    vertical-align: middle;
}

.prev-button {
    left: 1px;
}

.next-button {
    right: 1px;
}


@media screen and (max-width: 1050px) {
    .slideshow-imgs-div > img {
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .vertical-image {
        width: 50%!important;
    }

    #image-border {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #slideshows-div {
        padding: 5px 4%;
    }

    .slideshow-buttons {
        font-size: calc(3px + 16vw);
    }
}

@media screen and (max-width: 300px) {
    #slideshows-div {
        padding: 5px calc(2px + 3%);
    }
}