* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}

.current-page {
    display: none;
}

html {
    background-color: black
}

#page-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh!important;
    padding-bottom: 20px;
    background-color: black;
}

main {
    background-color: black;
    flex-grow: 1;
}

/* NAV BAR CSS */
#nav-bar {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 74px auto;
    align-items: center;
    background-color: black;
    /* POTENTIAL border-bottom: 2px solid #3500D3; */
}

#nav-sep {
    display: none;
}

.toggle-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
    width: 90px;
    height: 74px;
    cursor: pointer;
    transition: transform .4s ease-in-out;
}

.menu-bar {
    height: 6px;
    width: 48px;
    background-color: white;
    border-radius: 6px;
    transition: transform .4s ease-in-out;
}

.burger-menu-open > .menu-bar-top {
    transform: rotate(45deg) translate(10px, 10px);  
}

.burger-menu-open > .menu-bar-middle {
    opacity: 0;    
}
.menu-bar-middle {
    transition: opacity 0.17s ease-in-out;    
}

.burger-menu-open > .menu-bar-bottom {
    transform: rotate(-45deg) translate(10px, -10px);
}

#nav-header-container {
    display: inline-flex;
}
.nav-header {
    font-size: 32px;
    font-weight: 500;
    white-space: pre;
    /* Line Height & Height will center the text when they're the same. 
    ( Line Height / Height Should be the same as the height of the nav bar ) */
}

#nav-logo {
    width: 64px;
    height: auto;
    padding-left: 15px;
    padding-right: 4px;
}

#nav-logo-link {
    position: relative;
    top: -3px;
    height: 45px; 
    /* Height = #NAV-LOGO WIDTH - PADDING-LEFT & PADDING-RIGHT */
}

.nav-header, .nav-links {
    font-family: open-sans, sans-serif;
    color: white;
}

.nav-links {
    display: grid;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    height: 74px;
    text-decoration: none;
    position: relative;
    padding: 0;
}

#nav-links-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, auto);
    column-gap: 16px;
    max-width: 560px;
    margin-left: 50px;
    justify-items: center;
    align-items: center;
}

.nav-links-current-page {
    padding: 1px 0;
    border-bottom: 2px solid #3500D3;
}

.nav-link-text:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 18px;
    left: 0;
    background-color: #3500D3;
    transform-origin: bottom right;
    transition: transform 0.35s ease-in-out;
}

.nav-link-text:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* FOOTER CSS */
#nav-footer {
    display: grid;
    grid-template-rows: auto 2px 66px;
    background-color: black;
    width: 100%;
}

#footer-info-header {
    color: white;
    font-size: 22px;
    align-self: center;
    font-weight: 500;
    font-family: open-sans, sans-serif;
}


/*

#nav-footer-links {
    display: grid;
    flex-direction: column;
    width: 100%;
    grid-template-rows: repeat(4, 40px);
}

.footer-links {
    display: grid;
    color:white;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    height: 40px;
    font-family: open-sans, sans-serif;
    font-weight: 500;
    justify-items: center;
    align-items: center;
    transition: color 0.5s linear, background-color 0.65s linear;
}


.footer-links:hover {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: open-sans, sans-serif;
}

*/

#footer-bar1, #footer-bar2 {
    width: 100%;
    background-color: #3500D3;
    height: 2px;
}

#footer-bar1 {
    display: inline-block;
}

#nav-footer-main {
    display: grid;
    grid-template-rows: 44px 2px;
    grid-template-columns: auto;
    justify-items: center;
    align-items: stretch;
    width: 100%;
    padding: 0;
}

#nav-footer-privacy-copyright {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 36px 24px;
    row-gap: 6px;
    justify-items: center;
    align-items: center;
    padding: 0 24px;
}

#email-phone-div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 12px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

#footer-email {
    padding: 8px 6px 10px 24px;
    color: white;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    /* SET HOVER CURSOR AS CLIPBOARD AND CHANGE X AND Y TO BE HALF OF THE IMAGE 
    SIZE SO THE CLIPBOARD ICON IS PLACED IN THE MIDDLE + SET FALL BACK OF POINTER */
    cursor: url("../imgs/email-icon.png") 16 16, pointer;
    align-self: center;
    align-content: center;
}

#footer-phone {
    padding: 8px 24px 10px 6px;
    color: white;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    /* SET HOVER CURSOR AS CLIPBOARD AND CHANGE X AND Y TO BE HALF OF THE IMAGE 
    SIZE SO THE CLIPBOARD ICON IS PLACED IN THE MIDDLE + SET FALL BACK OF POINTER */
    cursor: url("../imgs/phone-icon.png") 16 16, pointer;
    align-self: center;
    align-content: center;
}

#footer-copyright {
    color: white;
    font-size: 12px;
    justify-self: center;
    font-family: open-sans, sans-serif;
}

/* NAV BAR TURNS INTO DROPDOWN MENU */
@media screen and (max-width: 1210px) {
    .toggle-menu-button {
        display: flex;
    }

    #nav-bar {
        display: grid;
        grid-template-columns: 64px auto;
        grid-template-rows: 74px;
        align-items: center;
    }

    #nav-links-container {
        display: grid; /* Height Of Nav Bar + Height Of Nav Links Container */
        grid-column-start: 1;
        grid-column-end: 3;
        overflow: hidden;
        align-self: center;
        justify-items: center;
        max-width: none;
        grid-template-rows: 2px repeat(4, 50px) 2px;
        grid-template-columns: 1fr;
        height: 0;
        opacity: 0;
        transition: height 0.5s ease-in-out, opacity 0.4s ease-in-out;
        margin-left: 0;
    }

    #nav-links-container.active {
        height: 204px; /* 2PX PER BORDER + 50PX PER NAV LINK ROW (SAME SIZE AS NAVLINK ROWS) */
        opacity: 1;
    }

    #nav-bar.activeNavBar {
        grid-template-rows: 74px auto;
    }

    #nav-sep {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #3500D3;
    }

    .nav-links {
        width: 100%;
        align-items: center;
        justify-items: center;
        height: 50px;
        transition: color 0.5s linear, background-color 0.65s linear;
    }

    .nav-links-current-page {
        height: fit-content;
    }

    .nav-links-current-page > .nav-link-text {
        display: flex;
        color: #3500D3;
    }

    .nav

    .nav-links:hover {
        color: #3500D3;
        background-color: white;
    }

    .nav-link-text:after {
        display: grid;
        content: '';
        position: relative;
        justify-self: center;
        height: 2px!important;
        bottom: 1px;
        background-color: #3500D3;
        transform-origin: bottom right;
        transition: transform 0.5s ease-in-out;
        z-index: 100;
    }

}



/* AUSSIE BUILT CONSTRUCTION GETS SMALLER */
@media screen and (max-width: 720px) {
    .nav-header {
        font-size: 26px;
    }
}

@media screen and (max-width: 620px) {
    /* AUSSIE BUILT CONSTRUCTION GETS SMALLER */
    #nav-header-container {
        display: table;
        width: fit-content;
        align-self: center;
    }

    .nav-header {
        text-align: center;
        font-size: 22px;
        white-space: normal;
    }

    .toggle-menu-button {
        width: 70px;
        height: 74px;
    }

    .menu-bar {
        width: 42px;
    }
}

@media screen and (max-width: 560px) {

    
    /* MAKE EMAIL AND PHONE NUMBER 2 LINES | MAKE COPYRIGHT 2 LINES */
    #nav-footer {
        grid-template-rows: auto 2px 90px;
    }
    
    #nav-footer-privacy-copyright {
        grid-template-rows: 68px 20px;
    }
    
    #email-phone-div {
        padding-top: 4px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 24px);
        align-items: center;
        row-gap: 12px;
    }

    #footer-copyright {
        width: 95%;
        text-align: center;
    }

    #footer-email {
        padding: 12px 30px 6px 30px;
    }
    
    #footer-phone {
        padding: 6px 60px 8px 60px;
    }

}

@media screen and (max-width: 440px) {

    #nav-footer {
        grid-template-rows: auto 2px 70px;
    }

    #email-phone-div {
        padding-top: 0;
    }

    #nav-footer-main {
        grid-template-rows: 58px 2px;
    }
    
    #footer-info-header {
        display: grid;
        line-height: 28px;
        height: 58px;
        justify-self: center;
        white-space: normal;
        align-content: center;
        max-width: 70%;
        text-align: center;
    }

    #nav-footer-privacy-copyright {
        padding: 0 10px;
    }

    #nav-footer-privacy-copyright {
        grid-template-rows: 58px 10px;
    }

    #footer-email {
        font-size: 14px;
        line-height: 22px;
        padding-top: 6px;
        max-width: 100%;
        white-space: normal;
        word-wrap: break-word;
        text-align: center;
    }
    
    #footer-phone {
        font-size: 14px;
    }

    #footer-copyright {
        font-size: 8px;
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
    .menu-bar {
        width: 36px;
    }

    .toggle-menu-button {
        width: 60px;
    }

    #nav-bar {
        grid-template-rows: 66px;
    }

    #nav-bar.activeNavBar {
        grid-template-rows: 66px auto;
    }


    .toggle-menu-button {
        height: 66px;
    }

    .nav-header {
        font-size: 18px;
    }

    #nav-logo {
        width: 58px;
    }

    #nav-logo-link {
        height: 39px; /* HEIGHT = WIDTH OF #NAV-LOGO - PADDING LEFT AND PADDING RIGHT */
    }


    #nav-bar {
        grid-template-columns: 58px auto;
    }
}

@media screen and (max-width: 300px) {
    #footer-info-header {
        max-width: 100%;
    }
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
      url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
        format('woff2');
    font-display: swap;
  }