* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Overpass;
}

#page-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh!important;
    padding-bottom: 20px;
    background-color: #5e5e5e;
}

main {
    background-color: #5e5e5e;
    flex-grow: 1;
}

/* NAV BAR CSS */
#nav-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 74px auto;
    column-gap: 50px;
    align-items: center;
    background-color: black;
}

#nav-sep {
    display: none;
}

.toggle-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
    width: 80px;
    height: 74px;
    cursor: pointer;
    transition: transform .4s ease-in-out;
}

.menu-bar {
    height: 6px;
    width: 48px;
    background-color: white;
    border-radius: 6px;
    transition: transform .4s ease-in-out;
}

.burger-menu-open > .menu-bar-top {
    transform: rotate(45deg) translate(10px, 10px);  
}

.burger-menu-open > .menu-bar-middle {
    opacity: 0;    
}
.menu-bar-middle {
    transition: opacity 0.17s ease-in-out;    
}

.burger-menu-open > .menu-bar-bottom {
    transform: rotate(-45deg) translate(10px, -10px);
}

#nav-header {
    padding-left: 30px;
    font-size: 32px;
    font-weight: 500;
    height: 74px;
    line-height: 74px;
    /* Line Height & Height will center the text when they're the same. 
    ( Line Height / Height Should be the same as the height of the nav bar ) */
}

#nav-header, .nav-links {
    font-family: Overpass;
    color: white;
}

.nav-links {
    display: grid;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    height: 74px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

#nav-links-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    column-gap: 16px;
    max-width: 640px;
    justify-items: center;
    align-items: center;
}

.nav-links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 20px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.28s ease-in-out;
}

.nav-links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* FOOTER CSS */
#nav-footer {
    display: grid;
    grid-template-rows: auto 2px 78px;
    height: 342px;
    background-color: black;
    width: 100%;
}

#footer-info-header {
    color: white;
    font-size: 26px;
    align-self: center;
    font-weight: 500;
    font-family: Overpass;
}

#nav-footer-links {
    display: grid;
    flex-direction: column;
    width: 100%;
    grid-template-rows: repeat(4, 50px);
}

.footer-links {
    display: grid;
    color:white;
    text-decoration: none;
    font-size: 24px;
    width: 100%;
    height: 50px;
    font-family: Overpass;
    font-weight: 500;
    justify-items: center;
    align-items: center;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}


.footer-links:hover {
    background-color: white;
    color: black;
}

#footer-bar1, #footer-bar2 {
    width: 100%;
    background-color: #def2ff;
    height: 2px;
}

#footer-bar1 {
    display: inline-block;
}

#nav-footer-main {
    display: grid;
    grid-template-rows: 60px 2px 200px;
    grid-template-columns: auto;
    justify-items: center;
    align-items: stretch;
    width: 100%;
    padding: 0;
}

#nav-footer-privacy-copyright {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 36px);
    row-gap: 6px;
    justify-items: center;
    align-items: center;
    padding: 0 24px;
}

#email-phone-div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    justify-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

#footer-email, #footer-phone {
    color: white;
    font-size: 22px;
    font-family: Overpass;
    /* SET HOVER CURSOR AS CLIPBOARD AND CHANGE X AND Y TO BE HALF OF THE IMAGE 
    SIZE SO THE CLIPBOARD ICON IS PLACED IN THE MIDDLE + SET FALL BACK OF POINTER */
    cursor: url(clipboard-white.png) 16 16, pointer;
}

#footer-copyright {
    color: white;
    overflow: wrap;
    font-size: 16px!important;
    justify-self: center;
    font-family: Overpass;
}

/* UNDER 1420PX CSS FOR NAV BAR */
@media screen and (max-width: 1420px) {
    .toggle-menu-button {
        display: flex;
    }

    #nav-bar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 74px;
        align-items: center;
    }

    #nav-links-container {
        display: grid; /* Height Of Nav Bar + Height Of Nav Links Container */
        overflow: hidden;
        align-self: center;
        justify-items: center;
        max-width: none;
        grid-template-rows: 2px repeat(4, 50px) 2px;
        grid-template-columns: 1fr;
        height: 0;
        opacity: 0;
        transition: height 0.5s ease-in-out, opacity 0.4s ease-in-out;
    }

    #nav-links-container.active {
        height: 204px;
        opacity: 1;
    }

    #nav-bar.activeNavBar {
        grid-template-rows: 74px auto;
    }

    #nav-sep {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #def2ff;
    }

    .nav-links {
        width: 100%;
        align-items: center;
        justify-items: center;
        height: 50px;
        transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    }

    .nav-links:hover {
        color: black;
        background-color: white;
    }

    .nav-links:after {
        content: '';
        position: absolute;
        margin: 0 calc(50% - 65px);
        width: 130px;
        height: 0!important;
        bottom: 12px;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.2s ease-out;
    }
}



/* AUSSIE BUILT CONSTRUCTION GETS SMALLER */
@media screen and (max-width: 680px) {
    #nav-header {
        font-size: 26px;
    }
}

@media screen and (max-width: 560px) {
    /* AUSSIE BUILT CONSTRUCTION GETS SMALLER */
    #nav-header {
        font-size: 22px;
    }

    .toggle-menu-button {
        width: 70px;
        height: 74px;
    }

    .menu-bar {
        width: 42px;
    }
    
    
    /* MAKE EMAIL AND PHONE NUMBER 2 LINES | MAKE COPYRIGHT 2 LINES */
    #nav-footer {
        grid-template-rows: auto 2px 128px;
        height: 398px;
    }
    
    #nav-footer-privacy-copyright {
        grid-template-rows: 84px 44px;
    }
    
    #email-phone-div {
        padding-top: 4px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 28px);
        row-gap: 8px;
        align-items: center;
    }
    #footer-copyright {
        width: 340px;
        text-align: center;
    }

}


/* latin-ext */
@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/overpass/v5/qFdD35WCmI96Ajtm81Gga7rayz8Ns1s.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 100;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdD35WCmI96Ajtm81Gga7raxT8N.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 200;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81GgaxbL0hYojmI7.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 200;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81GgaxbL0hgojg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga3LI0hYojmI7.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga3LI0hgojg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdB35WCmI96Ajtm81GgY9fqxycJ.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdB35WCmI96Ajtm81GgY9nqxw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81GgawbO0hYojmI7.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81GgawbO0hgojg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga2LP0hYojmI7.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga2LP0hgojg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 800;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga37M0hYojmI7.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 800;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga37M0hgojg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 900;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga1rN0hYojmI7.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: italic;
font-weight: 900;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdC35WCmI96Ajtm81Gga1rN0hgojg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 100;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdB35WCmI96Ajtm81nGY9fqxycJ.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 100;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdB35WCmI96Ajtm81nGY9nqxw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 200;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81lqcs7D4howig.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 200;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81lqcs7N4ho.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kOcc7D4howig.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kOcc7N4ho.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdH35WCmI96Ajtm81GrU9vyww.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdH35WCmI96Ajtm81GlU9s.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81l6d87D4howig.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81l6d87N4ho.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81keds7D4howig.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81keds7N4ho.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 800;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kCdc7D4howig.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 800;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kCdc7N4ho.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 900;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kmdM7D4howig.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass';
font-style: normal;
font-weight: 900;
src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kmdM7N4ho.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xm3-H86tzKDdAPa-KPQZ-AC3oSWo_6XBkZf.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 300;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xm3-H86tzKDdAPa-KPQZ-AC3oSWo_CXBg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0ts-2.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0tg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xm3-H86tzKDdAPa-KPQZ-AC3vCQo_6XBkZf.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 600;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xm3-H86tzKDdAPa-KPQZ-AC3vCQo_CXBg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xm3-H86tzKDdAPa-KPQZ-AC3pSRo_6XBkZf.woff2) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Overpass Mono';
font-style: normal;
font-weight: 700;
src: url(https://fonts.gstatic.com/s/overpassmono/v6/_Xm3-H86tzKDdAPa-KPQZ-AC3pSRo_CXBg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'overpass';
    src: url('C:/Users/Phoenix/Downloads/AussieBuilt/AussieBuiltWebsite/static/AussieBuilt/fonts/overpass/overpass-bold.otf') format('opentype');
}
