{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AussieBuilt/css/about.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'AussieBuilt/javascript/aboutPageMobile.js' %}" defer></script>
{% endblock %}

{% block body %}
<div id="about-div">

  <div class="about-sections">

    <img class="about-section-image" src="{% static 'AussieBuilt/imgs/aboutpage/selfie.webp' %}">
    <p class="about-section-text">
      Established in 2011, Aussie Built Construction partners with hand selected sub contractors for specialities in Plumbing, Electrical, HVAC, drywall and tile to complete your projects with quality professional work.
      We utilize local small companies that represent the standards we uphold, to execute your project in a timely and professional manner.
    </p>

  </div>
  
  <div class="about-sections">

    <p class="about-section-text">
      Born and raised in Australia, Aussie Built Construction prides itself in honoring it's heritage in its name. The logo is an iconic Australian road sign.
      We bring 18 years of experience, focusing on integrity and quality work. We listen to your needs, finding options that fit your budget and needs.
    </p>
    <img class="about-section-image" src="{% static 'AussieBuilt/imgs/aboutpage/family.webp' %}">

  </div>

  <div class="about-sections">

    <img class="about-section-image" src="{% static 'AussieBuilt/imgs/aboutpage/selfiecat.webp' %}">
    <p class="about-section-text">
      The owner, Ed Richards, moved to the United States from Australia in 2003. Raising 4 children, we have a family focus. We bring that to your project by focusing on the needs of yours to bring you a comfortable, beautiful home you will enjoy for years to come.
    </p>

  </div>

</div>
{% endblock %}