{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AussieBuilt/css/contact.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'AussieBuilt/javascript/copyToClipboard.js' %}" defer></script>
{% endblock %}

{% block body %}
<div id="contact-container">
    <!-- <h1 id="Contact-Header">CONTACT US</h1> -->
    <p id="contact-text">We would love to get in touch with you! If you have any questions or would like to schedule a free detail oriented estimate, please contact us!</p>
    
    <a id="contact-page-email" class="contact-info" href="mailto:Edward@aussiebuiltconstruction.com">Edward@aussiebuiltconstruction.com</a>
    <a id="contact-page-phone" class="contact-info" href="tel:757-268-1706">757-268-1706</a>

    <!-- 
        onclick="copyToClipboard('#contact-page-email')"
        onclick="copyToClipboard('#contact-page-phone')" 

        ADD BACK TO CONTACT INFO FOR COPY TO CLIPBOARD FUNCTION
    -->

    <span id="contact-break"></span>

</div>

<div id="contact-form-container">
    <form action="{% url 'contact' %}" method="POST" id="contact-form">
        {% csrf_token %}
        <input type="number" name="age" id="contact-input-age" class="contact-input" min="13" max="150">
        <input type="text" name="name" id="contact-input-name" class="contact-input contact-form-items" placeholder="Name" autocomplete="off" max="128" required>
        <input type="email" name="email" id="contact-input-email" class="contact-input contact-form-items" placeholder="Email" autocomplete="off" max="128" required>
        <input type="tel" name="phone" id="contact-input-phone" class="contact-input contact-form-items" placeholder="Phone #" autocomplete="off" max="16" required>
        <input type="text" name="state" id="contact-input-state" class="contact-input contact-form-items" placeholder="State" autocomplete="off" required>
        <input type="text" name="subject" id="contact-input-subject" class="contact-input contact-form-items" placeholder="Subject" autocomplete="off" required>
        <textarea type="text" name="message" id="contact-message" placeholder="Message" class="contact-form-items" autocomplete="off" required></textarea>
        <input type="hidden" name="context" id="contact-context">
        <button type="submit" id="contact-submit" class="contact-form-items">Submit</button>
    </form>
</div>

{% endblock %}
