{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}Hampton Roads Decks & Stairs{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AussieBuilt/slideshow.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'AussieBuilt/javascript/slideshow.js' %}" defer></script>
{% endblock %}

{% block body %}
<div id="slideshows-div">

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/7.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/8.jpg' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/1.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/2.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/3.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/4.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/5.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/6.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/7.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/8.jpg' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/1.jpg' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/2.jpg' %}" alt="">
			</div>

		</div>
	</div>

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/9.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/10.jpg' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/1.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/2.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/3.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/4.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/5.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/6.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/7.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/8.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/9.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/10.jpg' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/1.jpg' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/2.jpg' %}" alt="">
			</div>

		</div>
	</div>

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/6.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/7.jpg' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/1.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/2.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/3.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/4.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/5.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/6.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/7.jpg' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/1.jpg' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/2.jpg' %}" alt="">
			</div>

		</div>
	</div>

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/4.jpg' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/5.jpg' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/1.jpg' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/2.jpg' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/3.jpg' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/4.jpg' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/5.jpg' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/1.jpg' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/2.jpg' %}" alt="">
			</div>

		</div>
	</div>

</div>
{% endblock %}
