{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}Decks & Stairs Hampton Roads{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AussieBuilt/css/slideshow.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'AussieBuilt/javascript/slideshow.js' %}" defer></script>
<script id="currentPage" data-name="portfolio" src="{% static 'AussieBuilt/javascript/underline.js' %}" defer></script> <!--DATA-NAME MUST EQUAL INNER HTML OF NAV LINK-->
{% endblock %}

{% block body %}
<div id="slideshows-div">

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/7.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/8.webp' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/1.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/2.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/3.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/4.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/5.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/6.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/7.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/8.webp' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/1.webp' %}" alt="">
				<img class="slideshow-img0" src="{% static 'AussieBuilt/imgs/deck1/2.webp' %}" alt="">
			</div>

		</div>
	</div>

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/9.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/10.webp' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/1.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/2.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/3.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/4.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/5.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/6.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/7.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/8.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/9.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/10.webp' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/1.webp' %}" alt="">
				<img class="slideshow-img1" src="{% static 'AussieBuilt/imgs/deck2/2.webp' %}" alt="">
			</div>

		</div>
	</div>

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/6.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/7.webp' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/1.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/2.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/3.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/4.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/5.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/6.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/7.webp' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/1.webp' %}" alt="">
				<img class="slideshow-img2" src="{% static 'AussieBuilt/imgs/stairs1/2.webp' %}" alt="">
			</div>

		</div>
	</div>

	<div id="slideshow-container">
		<div class="slideshow">

			<!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
			<span id="image-border"></span>
			<a class="slideshow-buttons prev-button">&#10094;</a>
			<a class="slideshow-buttons next-button">&#10095;</a>

			<div class="slideshow-imgs-div">
				<!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/4.webp' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/5.webp' %}" alt="">

				<!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/1.webp' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/2.webp' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/3.webp' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/4.webp' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/5.webp' %}" alt="">

				<!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/1.webp' %}" alt="">
				<img class="slideshow-img3" src="{% static 'AussieBuilt/imgs/stairs2/2.webp' %}" alt="">
			</div>

		</div>
	</div>

</div>
{% endblock %}
