{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}Hampton Roads Contractor{% endblock %}

{% block meta %}
<meta name="description" content="Hampton Roads Class A General Contractor, Over 17 Years Of Experience, Quality Hampton Roads Bathroom, Kitchen & Deck Remodeling">
<meta name="keywords" content="Hampton Roads, Hampton Construction, General Contractor, Hampton Bathroom Remodel, Hampton Kitchen Remodel, Hampton Deck Remodel, Contractor, Class A Contractor">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AussieBuilt/home.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'AussieBuilt/javascript/automaticSlideshow.js' %}" defer></script>
<script src="{% static 'AussieBuilt/javascript/autoUnderLine.js' %}" defer></script>
{% endblock %}


{% block body %}
<div id="home-page-wrapper">

  <div id="home-page-header">

    <!--
    <div id="home-page-image-container">

      <div class="home-page-imgs">
        <img class="home-image" src="{% static 'AussieBuilt/imgs/kitchen-home.jpg' %}">
      </div>

      <div class="home-page-imgs">
        <img class="home-image" id="home-image-bathroom" src="{% static 'AussieBuilt/imgs/bathroom-home.jpg' %}">
      </div>

    </div>
    -->

    <div id="home-slideshow">

      <!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom5-vanity-home.jpg' %}">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom5-vertical-images-home.jpg' %}">
      
      <!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/kitchen-home.jpg' %}">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom-home.jpg' %}">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/darkwood-kitchen-home.jpg' %}">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom5-vanity-home.jpg' %}">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom5-vertical-images-home.jpg' %}">

      <!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/kitchen-home.jpg' %}">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom-home.jpg' %}">

    </div>
      
    <div id="home-image-text-div">

      <!-- 
        <img id="home-image-logo" src="{% static 'AussieBuilt/imgs/home-page-images/aussiebuiltlogo.png' %}">
      -->

      <h1 id="home-image-header">
        BUILDING YOUR VISION.
        <span id="home-image-header-line-break"></span>
        CREATING REALITY.
      </h1>

    </div>


  </div>

  <!-- 

  <div id="home-page-body">

    <div id="bulletpoints-container">

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">
          Founded in 2004
        </h1>

        <p class="bullletpoint-text">

        </p>
      </div>

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">

        </h1>
        <p class="bullletpoint-text">

        </p>
      </div>

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">

        </h1>
        <p class="bullletpoint-text">

        </p>
      </div>

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">

        </h1>
        <p class="bullletpoint-text">

        </p>
      </div>

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">

        </h1>
        <p class="bullletpoint-text">

        </p>
      </div>

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">

        </h1>
        <p class="bullletpoint-text">

        </p>
      </div>

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">

        </h1>
        <p class="bullletpoint-text">

        </p>
      </div>

      <div class="bulletpoint">
        <h1 class="bulletpoint-header">

        </h1>
        <p class="bullletpoint-text">

        </p>
      </div>

    </div>

  -->    

    <p class="home-page-body-text">Aussie Built Construction is residential Class A Contractor 
      providing professional home improvement services.
      Specialities include Kitchen and Bathroom Renovations with a focus on interior remodelling. 
      From complete custom kitchens/bathrooms to face lifts, we do it all!

      Other services we offer include - Carpentry, Exterior Door replacement, 
      Decks, Painting, Flooring and General Repairs.
  
      Serving the greater Hampton Roads area - Aussie Built construction
      has been a trusted name for over 10 years.

      With over 17 years of experience in the industry, we believe in honest,
      ethical and reliable work. Built on referral based advertising, 
      we let our work and customers speak for itself! 
    </p>

    <div id="a"></div>
    <div id="b"></div>
    <div id="c"></div>
    <div id="d"></div>

  </div>

</div>
{% endblock %}