{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}General Contractor Hampton Roads{% endblock %}

{% block meta %}
<meta name="title" content="Hampton Roads Class A General Contractor | Aussie Built Construction">
<meta name="description" content="Hampton Roads Class A General Contractor with over 17 Years of experience, specializing in Bathroom Remodels, Kitchen Remodels, Decks, Flooring, Painting, HVAC & More!">
<meta name="keywords" content="Hampton Roads, Hampton Construction, General Contractor, Hampton Bathroom Remodel, Hampton Kitchen Remodel, Hampton Deck Remodel, Contractor, Class A Contractor">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AussieBuilt/css/home.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'AussieBuilt/javascript/automaticSlideshow.js' %}" defer></script>

{% endblock %}


{% block body %}
<div id="home-page-wrapper">

  <div id="home-page-header">

    <div id="home-slideshow">

      <!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom5-vertical-images-home.webp' %}" loading="lazy" alt="">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/kitchen-home.webp' %}" loading="lazy" alt="">
      
      <!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom-home.webp' %}" alt="">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/darkwood-kitchen-home.webp' %}" alt="">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom5-vanity-home.webp' %}" loading="lazy" alt="">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom5-vertical-images-home.webp' %}" loading="lazy" alt="">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/kitchen-home.webp' %}" loading="lazy" alt="">

      <!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/bathroom-home.webp' %}" loading="lazy" alt="">
      <img class="slideshow-img" src="{% static 'AussieBuilt/imgs/home-page-images/darkwood-kitchen-home.webp' %}" loading="lazy" alt="">

    </div>+

    <div id="home-image-text-container">

      <div id="home-image-header">
        <h2 class="home-slideshow-text">DESIGNING YOUR VISION.</h2><span id="home-image-header-line-break"></span><h2 class="home-slideshow-text"> </h2><h2 class="home-slideshow-text">CREATING REALITY.</h2>
      </div>

    </div>

  </div>

  </div>

  <div id="home-page-body">

    <div class="bulletpoint-container">
      <h1 class="bulletpoint-header">Quality You Can Trust</h1>
      <p class="bulletpoint-body">Aussie Built Construction is a residential Class A 
      Contractor with over 17 years of experience. Don't just take our word for it admire our <a class="bulletpoint-body-link" href="/portfolio">Portfolio</a>.</p>
    </div>

    <div class="bulletpoint-container">
      <h1 class="bulletpoint-header">Specialities</h1>
      <p class="bulletpoint-body">Aussie Built Construction specializes in Bathroom Remodels, Kitchen Remodels, Decks, Flooring, Painting & General Repairs Such As Framing, Siding, Etc.</p>
    </div>

    <div class="bulletpoint-container">
      <h1 class="bulletpoint-header">Partners</h1>
      <p class="bulletpoint-body">We utilize the best sub contractors for Plumbing, Electrical, HVAC, Drywall, Tile & More!. Leave the networking to the pros so you can rest assured that everything's going smoothly.</p>
    </div>

    <div class="bulletpoint-container">
      <h1 class="bulletpoint-header">Contact</h1>
      <p class="bulletpoint-body">We would love to get in touch with you! If you have any questions or would like to schedule a free detail oriented estimate, <a href="/contact" class="bulletpoint-body-link">Contact Us!</a></p>
    </div>

  </div>

    <div id="a"></div>
    <div id="b"></div>
    <div id="c"></div>
    <div id="d"></div>

  </div>

</div>
{% endblock %}