{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.typekit.net/tza5rdf.css">
  {% block meta %}
  <meta name="keywords" content="Hampton Roads, Hampton Roads Contractor, Hampton Construction, General Contractor, Bathroom Remodel, Kitchen Remodel, Deck Remodel, Contractor, Class A Contractor, Home Repairs, Electrician, HVAC, Sheetrock, Drywall, LVP, Flooring, Painting">
  {% endblock %}

  <title>Aussie Built Construction Inc | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static '/AussieBuilt/css/template.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/AussieBuilt/imgs/template/aussiebuiltlogo.png'%}">
  
  {% block css %}
  {% endblock %}

  <script src="{% static '/AussieBuilt/javascript/dropdownMenu.js' %}" defer></script>
  <script src="{% static '/AussieBuilt/javascript/copyToClipboard.js' %}" defer></script>
  <script src="{% static 'AussieBuilt/javascript/underline.js' %}" defer></script>

  {% block script %}
  {% endblock %}

  {% block head %}
  {% endblock %}
</head>

<body>
  <div id="page-div">

    <header>
      <div id="nav-bar">
          
        <a id="nav-logo-link" href="{% url 'home' %}">
          <img id="nav-logo" src="{% static '/AussieBuilt/imgs/home-page-images/aussiebuiltlogo.png' %}" alt="Austrailian Road Sign For Kangaroo Crossings">
        </a>

        <div id="nav-header-container">
          <h1 class="nav-header" id="nav-header1">AUSSIE BUILT </h1>
          <h1 class="nav-header">CONSTRUCTION INC</h1>
        </div>

        <div class="toggle-menu-button">
          <span class="menu-bar menu-bar-top menu-bar-small"></span>
          <span class="menu-bar menu-bar-middle"></span>
          <span class="menu-bar menu-bar-bottom menu-bar-small"></span>
        </div>

        <div id="nav-links-container">
          <span id="nav-sep"></span>
          <a class="nav-links" href="{% url 'home' %}">
            <p class="nav-link-text">HOME</p>  
          </a>
          <a class="nav-links" href="{% url 'portfolio' %}">
            <p class="nav-link-text">PORTFOLIO</p>
          </a>
          <!--
            <a class="nav-links" href="{% url 'partners' %}">
              <p class="nav-link-text">PARTNERS</p>
            </a>
          -->
          <a class="nav-links" href="{% url 'about' %}">
            <p class="nav-link-text">ABOUT</p>
          </a>
          <a class="nav-links" href="{% url 'contact' %}">
            <p class="nav-link-text">CONTACT</p>
          </a>
          
          <!-- 
            <a class="nav-links" href="{% url 'reviews' %}">REVIEWS</a>
          -->
          <span id="nav-sep"></span>
        </div>

      </div>
    </header>
  
    <main>
      {% block body %}
          
      {% endblock %}
    </main>
  
  </div>

  <footer id="nav-footer">
    <div id="nav-footer-main">

      <h1 id="footer-info-header">AUSSIE BUILT CONSTRUCTION INC</h1>

      <span id="footer-bar1"></span>

      <!-- 
        <div id="nav-footer-links">
          <a class="footer-links" href="{% url 'home' %}">HOME</a>
          <a class="footer-links" href="{% url 'portfolio' %}">PORTFOLIO</a>
          <a class="footer-links" href="{% url 'about' %}">ABOUT</a>
          <a class="footer-links" href="{% url 'contact' %}">CONTACT</a>


          <a class="footer-links" href="{% url 'reviews' %}">REVIEWS</a>
          <a class="footer-links" href="{% url 'privacy' %}">PRIVACY</a>
        </div>
      -->

    </div>

    <!-- 
        <span id="footer-bar2"></span> 
    -->

    <div id="nav-footer-privacy-copyright">

      <div id="email-phone-div">
          
        <a id="footer-email" href="mailto:Edward@aussiebuiltconstruction.com">Edward@aussiebuiltconstruction.com</a>
        <a id="footer-phone" href="tel:757-268-1706">757-268-1706</a>
        
        <!-- 
            onclick="copyToClipboard('#contact-page-email')"
            onclick="copyToClipboard('#contact-page-phone')" 

            ADD BACK TO CONTACT INFO FOR COPY TO CLIPBOARD FUNCTION
        -->
      </div>

      <h2 id="footer-copyright">Copyright © 2021-2023 AussieBuiltConstruction Inc. All Rights Reserved.</h2>

    </div>

  </footer>
    
</body>
</html>