{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}House Remodel Hampton Roads{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/AussieBuilt/css/slideshow.css' %}">
{% endblock %}

{% block script %}
<script src="{% static '/AussieBuilt/javascript/slideshow.js' %}" defer></script>
<script id="currentPage" data-name="portfolio" src="{% static 'AussieBuilt/javascript/underline.js' %}" defer></script> <!--DATA-NAME MUST EQUAL INNER HTML OF NAV LINK-->
{% endblock %}

{% block body %}
<div id="slideshows-div">

  <div id="slideshow-container">

    <div class="slideshow">

      <!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
      <span id="image-border"></span>
      <a class="slideshow-buttons prev-button">&#10094;</a>
      <a class="slideshow-buttons next-button">&#10095;</a>

      <div class="slideshow-imgs-div">
        <!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/11.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/12.webp' %}" alt="">

        <!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/1.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/2.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/3.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/4.webp' %}" alt="">
        <img class="vertical-image slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/5.webp' %}" alt="">
        <img class="vertical-image" src="{% static '/AussieBuilt/imgs/houseflip/6.webp' %}" alt="">
        <img class="vertical-image slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/7.webp' %}" alt="">
        <img class="vertical-image" src="{% static '/AussieBuilt/imgs/houseflip/8.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/9.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/10.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/11.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/12.webp' %}" alt="">

        <!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/1.webp' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/2.webp' %}" alt="">
      </div>

    </div>

  </div>

  <div id="slideshow-container">

    <div class="slideshow">

      <!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
      <span id="image-border"></span>
      <a class="slideshow-buttons prev-button">&#10094;</a>
      <a class="slideshow-buttons next-button">&#10095;</a>

      <div class="slideshow-imgs-div">
        <!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/10.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/11.webp' %}" alt="">

        <!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/1.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/2.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/3.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/4.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/5.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/6.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/7.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/8.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/9.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/10.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/11.webp' %}" alt="">

        <!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/1.webp' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/2.webp' %}" alt="">
      </div>

    </div>

  </div>

</div>
{% endblock %}
