{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}Hampton Roads Houseflips{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/AussieBuilt/slideshow.css' %}">
{% endblock %}

{% block script %}
<script src="{% static '/AussieBuilt/javascript/slideshow.js' %}" defer></script>
{% endblock %}

{% block body %}
<div id="slideshows-div">

  <div id="slideshow-container">

    <div class="slideshow">

      <!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
      <span id="image-border"></span>
      <a class="slideshow-buttons prev-button">&#10094;</a>
      <a class="slideshow-buttons next-button">&#10095;</a>

      <div class="slideshow-imgs-div">
        <!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/11.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/12.jpg' %}" alt="">

        <!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/1.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/2.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/3.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/4.jpg' %}" alt="">
        <img class="vertical-image slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/5.jpg' %}" alt="">
        <img class="vertical-image" src="{% static '/AussieBuilt/imgs/houseflip/6.jpg' %}" alt="">
        <img class="vertical-image slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/7.jpg' %}" alt="">
        <img class="vertical-image" src="{% static '/AussieBuilt/imgs/houseflip/8.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/9.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/10.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/11.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/12.jpg' %}" alt="">

        <!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/1.jpg' %}" alt="">
        <img class="slideshow-img0" src="{% static '/AussieBuilt/imgs/houseflip/2.jpg' %}" alt="">
      </div>

    </div>

  </div>

  <div id="slideshow-container">

    <div class="slideshow">

      <!-- "IMAGE-BORDER" = DEVIDER BETWEEN 2 IMAGES -->
      <span id="image-border"></span>
      <a class="slideshow-buttons prev-button">&#10094;</a>
      <a class="slideshow-buttons next-button">&#10095;</a>

      <div class="slideshow-imgs-div">
        <!-- LAST 2 IMAGES FROM MAIN IMAGES  (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/10.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/11.jpg' %}" alt="">

        <!-- MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/1.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/2.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/3.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/4.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/5.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/6.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/7.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/8.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/9.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/10.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/11.jpg' %}" alt="">

        <!-- FIRST 2 IMAGES FROM MAIN IMAGES (2 VERTICAL IMAGES = 1 LANDSCAPE IMAGE) -->
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/1.jpg' %}" alt="">
        <img class="slideshow-img1" src="{% static '/AussieBuilt/imgs/houseflipold/2.jpg' %}" alt="">
      </div>

    </div>

  </div>

</div>
{% endblock %}
