{% extends "AussieBuilt/layout.html" %}
{% load static %}

{% block title %}About Aussie Built Construction Inc{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'AussieBuilt/css/partners.css' %}">
{% endblock %}

{% block body %}
<div id="about-div">

  <div class="about-sections">

    <div class="section-header">
        <img class="about-section-image" src="{% static 'AussieBuilt/imgs/partners/profilepicture.png' %}" alt="Handsome Man">
        <div class="section-header-company-info">
            <h2 class="section-header-name">Aussie Built Construction, Inc</h2>
            <h4 class="section-header-industry">General Contractor</h4>
            <h4 class="section-header-phone">757-268-1706</h4>
            <h4 class="section-header-email">Edward@aussiebuiltconstruction.com</h4>
        </div>
    </div>

    <div class="section-body">
        <p class="about-section-text">
            Born and raised in Australia, Aussie Built Construction prides itself in honoring it's heritage in its name. The logo is an iconic Australian road sign.
            We bring 18 years of experience, focusing on integrity and quality work. We listen to your needs, finding options that fit your budget and needs.
        </p>
    </div>
  </div>
  
  <div class="about-sections">

    <div class="section-header">
        <img class="about-section-image" src="{% static 'AussieBuilt/imgs/partners/profilepicture.png' %}" alt="Handsome Man">
        <div class="section-header-company-info">
            <h2 class="section-header-name">Aussie Built Construction, Inc</h2>
            <h4 class="section-header-industry">General Contractor</h4>
            <h4 class="section-header-phone">757-268-1706</h4>
            <h4 class="section-header-email">Edward@aussiebuiltconstruction.com</h4>
        </div>
    </div>

    <div class="section-body">
        <p class="about-section-text">
            Born and raised in Australia, Aussie Built Construction prides itself in honoring it's heritage in its name. The logo is an iconic Australian road sign.
            We bring 18 years of experience, focusing on integrity and quality work. We listen to your needs, finding options that fit your budget and needs.
        </p>
    </div>
  </div>

  <div class="about-sections">

    <div class="section-header">
        <img class="about-section-image" src="{% static 'AussieBuilt/imgs/partners/profilepicture.png' %}" alt="Handsome Man">
        <div class="section-header-company-info">
            <h2 class="section-header-name">Aussie Built Construction, Inc</h2>
            <h4 class="section-header-industry">General Contractor</h4>
            <h4 class="section-header-phone">757-268-1706</h4>
            <h4 class="section-header-email">Edward@aussiebuiltconstruction.com</h4>
        </div>
    </div>

    <div class="section-body">
        <p class="about-section-text">
            Born and raised in Australia, Aussie Built Construction prides itself in honoring it's heritage in its name. The logo is an iconic Australian road sign.
            We bring 18 years of experience, focusing on integrity and quality work. We listen to your needs, finding options that fit your budget and needs.
        </p>
    </div>
  </div>

</div>
{% endblock %}