#about-div {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    padding: 20px 20px 20px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: black;
    border-radius: 6px;
}

.about-sections {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px) );
    /* Columns are 50% of the container - 50% of the column gap */
    column-gap: 20px;
}

.about-section-image {
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 2px;
}

.about-section-text {
    color: white;
    font-size: 32px;
}

@media (max-width: 845px) {
    .about-section-text {
        font-size: 28px;
    }

    #about-div {
        max-width: calc( 100% - 30px );
    }

}

@media (max-width: 750px) {
    .about-section-text {
        font-size: 22px;
    }
}


@media (max-width: 650px) {
    .about-sections {
        grid-template-columns: 100%;
        column-gap: 0;
        row-gap: 14px;
    }

    #about-div {
        grid-template-rows: repeat(6, auto); 
        padding: 20px 20px 0 20px;
        row-gap: 14px;
    }
    /* ROW-GAP ON #ABOUT-DIV AND ROW-GAP ON .ABOUT-SECTIONS SHOULD BE THE SAME */

    .about-section-text {
        font-size: 20px;
    }
}

@media (max-width: 530px) {
    .about-section-text {
        font-size: 18px;
    }
}